.blog-wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.blog-item {
    cursor: pointer;
    max-width: 380px;
}

.blog-img {
    position: relative;
    margin-bottom: 17px;
}

.blog-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: -10px;
    width: 60px;
    height: 70px;
    background-color: #95e1d3;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    line-height: 1;
    text-align: center;
}

.blog-data span {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    letter-spacing: 0.1px;
    font-weight: 300;

}

.blog-title {
    font-size: 14px;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 11px;

}

.blog-script {
    font-size: 15px;
    color: rgb(153, 153, 153);
    line-height: 1.6;
    padding-bottom: 17px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 15px;
}

.blog-attribute img {
    width: auto;
    object-fit: contain;
    margin-right: 7px;
}

.blog-attribute img:not(:first-child) {
    margin-left: 20px;
}

.blog-attribute {
    display: flex;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: rgb(153, 153, 153);
    font-style: italic;
    line-height: 1.6;
}

@media screen and (max-width: 1200px) {
    .blog-wrap {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .blog-item:not(:last-child) {
        margin-bottom: 30px;
    }

    .blog-attribute {
        justify-content: center;
    }
}
