.regalia {
    padding: 55px 10px;
    background-color: #f8f8f8;
}

.regalia-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.regalia-item {
    width: 115px;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.regalia-item img {
    width: 100%;
}

@media screen and (max-width: 900px) {
    .regalia-wrap {
        flex-wrap: wrap;
        justify-content: center;
    }
}
