.people-say {
    background-image: url(../../img/bgs/people-say-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.people-say-cards {
    display: grid;
    grid-gap: 145px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.people-say-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

.people-say-img {
    margin-right: 30px;
}

.people-say-name {
    font-size: 14px;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 15px;
    font-weight: 700;
}

.people-say-position {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: rgb(51, 51, 51);
    font-style: italic;
    line-height: 1.6;
    margin-bottom: 30px;
    position: relative;
}

.people-say-position::before {
    content: '';
    width: 60px;
    height: 3px;
    background-color: #f38181;
    position: absolute;
    bottom: -15px;
    left: 0;
}

.people-say-text {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: rgb(153, 153, 153);
    line-height: 1.6;

}

@media screen and (max-width: 900px) {
    .people-say .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .people-say-card {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

    .people-say-position::before {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .people-say-img {
        margin-right: 0;
        margin-bottom: 15px;
    }
}